{% extends "::base.html.twig" %}

{% block head %}
    {{ parent() }}

    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <br/>
                <div class="navbar">
                  <div class="navbar-inner">
                    <a class="brand" href="{{ path('homepage') }}">Site Skeleton</a>
                    {{ knp_menu_render('main', {'nav_type': 'tabs'}) }}
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <div class="hero-unit">
                  <h3>Side panel</h3>
                  <p>Advertising/page navigation usage.</p>
                </div>
            </div>
            <div class="span8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
